.add-thread {
    margin-top: 3%;
}

.add-thread-dialog {
    width: 550px;
}

.add-thread-input {
    width: 80%;
    margin-left: 10% !important;
}

.add-thread-buttom {
    width: 150px;
    margin-left: 60% !important;
}