.app {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 100px;
}
