body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-h-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.avatar {
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

.max-width {
  width: 100%;
}

.separator {
  width: 90%;
  opacity: 0.5;
}

