.user-info {
    min-width: 150px;
}

.post-content {
    min-height: 100px;
    padding-left: 5%;
}

.author {
  margin-left: 25%;
}

.edit-button {
  margin-left: 3%;
}

.post-text {
  text-align: start;
  margin-left: 5%;
}

.delete-post {
  margin-left: 2%;
}

.options-container {
  margin-left: 5% !important;
}
