.user-posts {
    margin-left: 10%;
    width: 80%;
}

.post {
    max-width: 95%;
    width: 95% !important;
}

.profile-image {
    max-width: 260px;
    max-height: 200px;
}

.post-thread-text {
    max-width: 200px;
    margin-left: 15px;
    margin-bottom: 20px;
}