.add-subforum-form {
  width: 30%;
}

.subforum-separator {
  margin-left: 15% !important;
}

.subforums-list {
  margin-left: 5% !important;
  align-items: baseline;
}

.add-subforum-button {
  width: 170px;
}

.subforum-title {
  width: 250px;
  align-content: flex-start;
}

.subforums-list {
  text-align: left;
}

h2 {
  align-self: flex-start;
}

.subforum-name-input {
  max-width: 200px;
}